<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11941350256-p7ei9m5uc5nc752gnmp82khua9degooh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11941350256-p7ei9m5uc5nc752gnmp82khua9degooh</string>
	<key>API_KEY</key>
	<string>AIzaSyDp2i_9VsYJjJozmxe0rZTaQmvte1xouEM</string>
	<key>GCM_SENDER_ID</key>
	<string>11941350256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-96dce</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-96dce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11941350256:ios:38e2e502c4e6ebe7de1db5</string>
</dict>
</plist>